Source: mangelwurzel-as
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: mangelwurzel-as
Architecture: any
Depends: sprout-base
Suggests: mangelwurzel-as-dbg
Description: mangelwurzel, the B2BUA and SCC-AS emulator

Package: mangelwurzel-as-dbg
Architecture: any
Section: debug
Priority: extra
Depends: mangelwurzel-as (= ${binary:Version})
Recommends: sprout-base-dbg
Description: Debugging symbols for mangelwurzel, the B2BUA and SCC-AS emulator
